<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Ciekawe strony</title>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body ng-controller="MainCtrl"><script type="text/javascript"></script>
 
   <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #2c3e50; border-color: #2c3e50;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" ng-click="gotoAnchor(1)">Ciekawe strony internetowe</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="" ng-click="gotoAnchor(2)">Dodaj kategorię strony</a></li>
        <li><a href="" ng-click="gotoAnchor(3)">Dodaj stronę</a></li>
      </ul>
    </div>
  </div>
</nav>    

<div id="anchor1" class="jumbotron" style="background-color: #18BC9C; border-color: #18BC9C;">
        <div class="container" text-center>
            <h1 style="font-family: 'Courier New'; color: #2c3e50">Ciekawe strony</h1>
        </div>
    </div>

<div class="container">
    <div class="row">
     <div class="col-sm-4">
         <h3>Kategorie</h3>
          <button type="button" class="btn btn-danger btn-block" ng-click="removeCategory()">Usuń kategorię</button>
         <br>
         <ul class="nav nav-pills nav-stacked" role="tablist">
               <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}" style=" border: 1px solid; border-radius: 5px;">
                   <a ng-click="setCurrentCategory(category)">
                   {{category.name}}
                   </a>
               </li>
        </ul>
        <br><br><br><br>
     </div>
    
    
    </div>
</div>


    <div id="anchor2" class="jumbotron" style="background-color: #18BC9C; border-color: #18BC9C;">
    <div class="container">
    <div class="row" style="color: #F5F5DC">
            <h4>Dodaj kategorię</h4>
            <form role="form" ng-submit="addCategory(category)">
                <div class="form-group">
                   <label for="name">Kategoria:</label>
                   <input id="name" class="form-control" type="text" ng-model="category.name" placeholder="Kategoria" />
                </div>
                   <button class="btn btn-default" type="submit">Utwórz kategorię</button>
            </form>

    </div>
    </div>
    </div>
    





</body>
</html>